* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: #1E2326;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    text-transform: uppercase;
    font-size: 18pt;


}



.items {

    list-style: none;
    display: flex;

    flex-direction: row;
    margin-right: 120px;


}

.click {
    text-decoration: none;
    color: white;

    position: absolute;
    top: 10px;
    font-weight: 800;

    left: 130px;
    margin-right: 1200px;
    font-family: 'Poppins', sans-serif;

}

.box {

    margin-right: 40px;
    font-size: 20px;

}
a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none  ;
    color: #ffffff;
}